In [1]:
import sys
print(sys.getrecursionlimit())

3000

In [3]:
def my_function():
  print("Hello from a function")
  
my_function()

Hello from a function

In [4]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [11]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [12]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [16]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(lname = "Refsnes")

His last name is Refsnes

In [18]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Emil

In [20]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [22]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [32]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))
my_function(3)

print(my_function(3))
25
45

15

In [ ]:
def myfunction():
  pass

In [36]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [38]:
def my_function(*, x):
  print(x)

my_function(x = 3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [41]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [42]:
x = lambda a : a + 10
print(x(5))

15

In [43]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [44]:
def myfunc(n):
  return lambda a : a * n

my_doubler = myfunc(2)
my_3 = myfunc(3)
my_4 = myfunc(4)

print(my_doubler(11))
print()

22

In [45]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x * x, numbers))
print(squared)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [49]:
numbers = [-3, -1, 0, 2, 5]
positive_nums = list(filter(lambda x: x > 0, numbers))
print(positive_nums)  # [2, 5]

[2, 5]

In [50]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6, 7]
total = reduce(lambda a, b: a + b, numbers)
print(total)

28

In [52]:
users = [
    {"name": "Alice", "age": 34},
    {"name": "Bob", "age": 28}
]
sorted_users_asc = sorted(users, key=lambda u: u["age"])
print(sorted_users_asc)
# [{'name': 'Bob', 'age': 28}, {'name': 'Alice', 'age': 34}]

[{'name': 'Bob', 'age': 28}, {'name': 'Alice', 'age': 34}]

In [54]:
sorted_users_desc = sorted(users, key=lambda u: u["name"], reverse=True)
print(sorted_users_desc)
# [{'name': 'Alice', 'age': 34}, {'name': 'Bob', 'age': 28}]

[{'name': 'Bob', 'age': 28}, {'name': 'Alice', 'age': 34}]

In [60]:
nums = [0, 0, 3]
print(any(nums))

True

In [61]:
nums = [0, 0, '']
print(any(nums))

False

In [62]:
nums = [0, 0, 'abc']
print(any(nums))

True

In [63]:
nums = [1, 2, 3]
print(all(nums))

True

In [64]:
nums = [1, 0, 3]
print(all(nums))

False

In [67]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

combined = list(zip(names, ages))
print(combined)
# [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

[('Alice', 25), ('Bob', 30)]

In [68]:
names = ["Alice", "Bob"]
ages = [25, 30, 35]

combined = list(zip(names, ages))
print(combined)
# [('Alice', 25), ('Bob', 30)]

[('Alice', 25), ('Bob', 30)]

In [69]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30]

combined = list(zip(names, ages))
print(combined)
# [('Alice', 25), ('Bob', 30)]

[('Alice', 25), ('Bob', 30)]

In [70]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "London", "Paris"]

combined = list(zip(names, ages, cities))
print(combined)

[('Alice', 25, 'New York'), ('Bob', 30, 'London'), ('Charlie', 35, 'Paris')]

In [74]:
fruits = ["apple", "banana", "cherry"]
print(list(enumerate(fruits, start=1)))
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

# 1 apple
# 2 banana
# 3 cherry

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]
1 apple
2 banana
3 cherry

In [79]:
def factorial_iterative(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial_iterative(80))

71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000

In [80]:
def factorial(n):
    if n == 0 or n == 1:  # Base case
        return 1
    return n * factorial(n - 1)  # Recursive call

print(factorial(80))

71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000